@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #e0e8ff;
  box-sizing: inherit;
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.bg-img {
  background-image: url("/images/pattern-background-mobile.svg");
  background-size: cover;
  width: 100%;
  height: 50vh;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0; }

.txt-center {
  text-align: center !important; }

.m-bottom-medium {
  margin-bottom: 1.6rem !important; }

.cart {
  max-width: 33rem;
  margin: 0 1.2rem;
  background-color: #f5f7ff;
  border-radius: 16px;
  overflow: hidden; }
  .cart__image {
    width: 100%;
    height: 100%; }
  .cart__content {
    padding: 2.6rem 2rem; }
  .cart__title {
    font-size: 1.9rem;
    font-weight: 900; }
  .cart__paragraph {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #7280a7; }
  .cart__price {
    display: flex;
    background-color: rgba(224, 232, 255, 0.4);
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
    padding: 1rem 0;
    font-size: 1.4rem; }
  .cart__plan {
    font-weight: 900;
    display: block; }
  .cart__link:link, .cart__link:visited {
    font-weight: 900; }
  .cart__link:hover, .cart__link:active {
    text-decoration: none; }
  .cart__btn {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
    .cart__btn .btn:link,
    .cart__btn .btn:visited {
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1.4rem 0;
      text-decoration: none;
      border-radius: 9px; }
    .cart__btn .btn--dark:hover,
    .cart__btn .btn--dark :active {
      filter: brightness(116%); }
    .cart__btn .btn--dark {
      background-color: #3829e0;
      color: #f5f7ff;
      box-shadow: 0 0.8rem 2.6rem rgba(0, 0, 0, 0.4); }
    .cart__btn .btn--white {
      color: #444; }

@media (min-width: 43.75em) {
  .bg-img {
    background-image: url("/images/pattern-background-desktop.svg");
    background-position: bottom;
    width: 100%;
    height: 70vh; }
  .cart {
    max-width: 38rem; }
    .cart__content {
      padding: 2.6rem 4rem; } }
