@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

@import "variables";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary;
  box-sizing: inherit;
  font-family: "Red Hat Display", sans-serif;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.bg-img {
  background-image: url("/images/pattern-background-mobile.svg");
  background-size: cover;

  width: 100%;
  height: 50vh;

  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

.txt-center {
  text-align: center !important;
}

.m-bottom-medium {
  margin-bottom: 1.6rem !important;
}

.cart {
  max-width: 33rem;
  margin: 0 1.2rem;
  background-color: $neutral;
  border-radius: 16px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__content {
    padding: 2.6rem 2rem;
  }

  &__title {
    font-size: 1.9rem;
    font-weight: 900;
  }

  &__paragraph {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: $neutral-desaturated;
  }

  &__price {
    display: flex;
    background-color: rgba($primary, 0.4);
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
    padding: 1rem 0;
    font-size: 1.4rem;
  }

  &__plan {
    font-weight: 900;
    display: block;
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 900;
    }

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .btn:link,
    .btn:visited {
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1.4rem 0;
      text-decoration: none;
      border-radius: 9px;
    }

    .btn--dark:hover,
    .btn--dark :active {
      filter: brightness(116%);
    }

    .btn--dark {
      background-color: $primary-light;
      color: $neutral;
      box-shadow: 0 0.8rem 2.6rem rgba(#000, 0.4);
    }

    .btn--white {
      color: #444;
    }
  }
}

@media (min-width: 43.75em) {
  .bg-img {
    background-image: url("/images/pattern-background-desktop.svg");
    background-position: bottom;

    width: 100%;
    height: 70vh;
  }

  .cart {
    max-width: 38rem;

    &__content {
      padding: 2.6rem 4rem;
    }
  }
}
