@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Primary colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: var(--pale-blue);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.price-card-container {
  background-color: var(--very-pale-blue);
  margin: 0 0.8rem;
  border-radius: 20px;
}

.price-card-container .price-content-container,
.price-card-container .price-content-container .price-container,
.price-card-container .buttons-container {
  display: flex;
}

.price-card-container .about-container img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.price-card-container .about-container .about-container-content {
  text-align: center;
  margin: 0 1.5rem;
  font-size: 0.9rem;
}

.price-card-container .about-container .card-title {
  font-weight: 900;
  margin: 1rem 0;
}

.price-card-container .about-container .card-discription {
  color: var(--desaturated-blue);
  margin-bottom: 2rem;
  font-weight: 700;
}

.price-card-container .price-content-container {
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: var(--very-pale-blue);
  border-radius: 10px;
  filter: brightness(97%);
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.price-card-container .price-content-container a {
  font-size: 0.8rem;
  text-decoration: none;
  border-bottom: 2px solid var(--bright-blue);
  font-weight: 900;
}

.price-card-container .price-content-container .price-container img {
  margin-right: 0.8rem;
}

.price-card-container .price-content-container .price-container .price-content {
  font-size: 0.9rem;
  align-self: center;
}

.price-card-container
  .price-content-container
  .price-container
  .price-content
  .price-title {
  font-weight: 900;
}

.price-card-container
  .price-content-container
  .price-container
  .price-content
  .price {
  color: var(--desaturated-blue);
}

.price-card-container .buttons-container {
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.price-card-container .buttons-container button {
  padding: 0.8rem 0;
  border: none;
  border-radius: 10px;
  font-weight: 900;
}

.price-card-container .buttons-container button:hover {
  cursor: pointer;
}

.price-card-container .buttons-container button:first-child {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  box-shadow: 0 4px 14px -2px hsl(223, 47%, 23%);
  margin-bottom: 0.4rem;
}

.price-card-container .buttons-container button:first-child:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.price-card-container .buttons-container button:last-child {
  background-color: transparent;
  color: var(--desaturated-blue);
}

@media only screen and (min-width: 425px) {
  .price-card-container {
    max-width: 375px;
  }
  .price-card-container .price-content-container,
  .price-card-container .buttons-container {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}
